$primary: #e46
$green: #7e5

@import "~bulma/bulma"

$fa-font-path: "~font-awesome/fonts"
@import "~font-awesome/scss/font-awesome"


header
  background: $primary
  border-bottom: 2px solid darken($primary, 18%)
  padding: 0.6em

  h1
    @extend .title
    color: #fff
    font-size: 18px
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4)

footer.footer
  font-size: 0.8em
  text-shadow: 1px 1px 0 #fff
  color: #bbb

  .icon
    font-size: 0.9em
    line-height: 1.8em

.green
  color: $green

.corner
  left: -35%
  top: -31%

a i.fa
  font-size: 14px

.modal-card-title span
  font-size: 0.5em
  margin-right: 0.8em

#tabs
  @extend .tabs
  @extend .is-boxed

main
  section
    @extend .section


.connection

  .header
    @extend .columns
    margin-bottom: 0 !important

    .title
      margin-bottom: 0
      line-height: 1.3em

  hr
    margin-top: 0

