@import "~bulma/bulma"

$slate: #89b
header
  background: $slate
  border-bottom: 3px solid darken($slate, 10%)
  padding: 0.5em 0.5em 0 0.5em

  h1
    @extend .title
    color: #fff

#tabs
  @extend .tabs
  @extend .is-boxed

main
  section
    @extend .section


.connection

  .header
    @extend .columns
    margin-bottom: 0 !important

    .title
      margin-bottom: 0
      line-height: 1.3em

  hr
    margin-top: 0
